# History files
.Rhistory

# Example code in package build process
*-Ex.R
.Rproj.user
*.o
*.so
/inst/web/
/vignettes/*-tikzDictionary
/vignettes/*.bbl
/vignettes/*.pdf
/vignettes/*.tex
/vignettes/*_cache
/vignettes/*_files
