# History files
.Rhistory

# Example code in package build process
*-Ex.R
.Rproj.user
*.o
*.so
/inst/web/
/vignettes/internal/*-tikzDictionary
/vignettes/internal/*.aux
/vignettes/internal/*.bbl
/vignettes/internal/*.blg
/vignettes/internal/*.brf
/vignettes/internal/*.fdb_latexmk
/vignettes/internal/*.fls
/vignettes/internal/*.log
/vignettes/internal/*.out
/vignettes/internal/*.pdf
/vignettes/internal/*.tex
/vignettes/internal/*_cache
/vignettes/internal/*_files
/vignettes/internal/RJournal.zip
CRAN-RELEASE
_codeql_detected_source_root
