# History files
.Rhistory

# Example code in package build process
*-Ex.R
.Rproj.user
*.o
*.so
/inst/web/
/vignettes/*-tikzDictionary
/vignettes/*.aux
/vignettes/*.bbl
/vignettes/*.blg
/vignettes/*.brf
/vignettes/*.fdb_latexmk
/vignettes/*.fls
/vignettes/*.log
/vignettes/*.out
/vignettes/*.pdf
/vignettes/*.tex
/vignettes/*_cache
/vignettes/*_files
/vignettes/RJournal.zip
